mkl==2025.0.1
intel-cmplr-lib-ur==2025.2.0
intel-openmp==2025.2.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
cffi==1.17.1
curl_cffi==0.11.4
Cython==3.0.12
llvmlite==0.43.0
numba==0.60.0

ipykernel==6.17.1
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-leaflet==0.20.0
jupyter-server==1.16.0
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.15
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
medmnist==3.0.2
numpy==2.0.2
pandas==2.2.2
pillow==11.2.1
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
tqdm==4.67.1
